<template>
  <card :title="$t('title_home')">
    {{ $t('msg_you_are_logged_in') }}
  </card>
</template>

<script>
import Form from 'vform'
export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('title_home') }
  },

  data: () => ({
    form: new Form({
    }),
  })
}
</script>
