<template>
  <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" :aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 v-if="title" class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'VModal',

    props: {
      title: { type: String, default: null },
      modalId: { type: String, default: 'sampleModal' },
      modalLabel: { type: String, default: 'sampleModalLabel' },
    }
  }
</script>
