<template>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-9">{{ $t('title_payment_register') }}</div>
        <div class="col-md-3 text-md-right">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cardModal"><fa :icon="'plus'" />&nbsp;更新</button>
        </div>
      </div>
    </div>

    <div class="card-body">

      <div v-if="payments === null || payments.length === 0" class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('text_default_card') }}</label>
        <div class="col-md-7">
          <label class="col-form-label">{{ $t('text_card_not_found') }}</label>
        </div>
      </div>

      <div v-else v-for="(payment, index) in payments" class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('text_default_card') }}</label>
        <div class="col-md-6">
          <fa :icon="['fab', 'cc-' + payment.brand.toLowerCase()]" />
          <label class="col-form-label">
            {{ '****' + payment.last4 + ' ' + payment.exp_month + ' / ' + payment.exp_year }}
          </label>
        </div>
        <div class="col-md-3 text-md-right">
          <v-button type="button" class="btn btn-danger" :loading="btnLoading" @click="deleteCard(payment.id)"><fa :icon="'minus'" />&nbsp;削除</v-button>
        </div>
      </div>

      <!-- Modal for Create Card -->
      <v-modal :title="$t('title_modal_payment_register')" modalId="cardModal" modalLabel="cardModalLabel">
        <!-- body -->
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
          <div class="modal-body">
            <alert-success :form="form" :message="$t('msg_card_updated')" />
            <!-- token -->
            <input v-model="form.token" type="hidden" name="token">
            <!-- card number -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('form_card_number') }}</label>
              <div class="col-md-7">
                <div id="card-number" />
              </div>
            </div>
            <!-- card expiry -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('form_card_expiry') }}</label>
              <div class="col-md-7">
                <div id="card-expiry" />
              </div>
            </div>
            <!-- card cvc -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('form_card_cvc') }}</label>
              <div class="col-md-7">
                <div id="card-cvc" />
              </div>
            </div>
            <!-- card name -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('form_card_name') }}</label>
              <div class="col-md-7">
                <input v-model="card_name" :class="{ 'is-invalid': form.errors.has('card-name') }" class="form-control" type="text" name="card-name" placeholder="カード名義を入力">
                <has-error :form="form" field="card-name" />
              </div>
            </div>
          </div>
          <!-- footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <v-button type="danger" :loading="form.busy">{{ $t('btn_card_register') }}</v-button>
          </div>
        </form>
      </v-modal>
    </div>
  </div>
</template>

<script>
  import Form from 'vform'
  import { mapGetters } from "vuex";

  export default {
    middleware: 'auth',

    metaInfo() {
      return { title: this.$t('title_payment_register') }
    },

    data:() => ({
      btnLoading: false,
      payments: null,
      // Stripe APIキー
      api_token: window.config.stripeKey,
      // Stripe
      stripe: null,
      elements: null,
      // Stripeフォーム情報
      card_number: null,
      card_expiry: null,
      card_cvc: null,
      card_name: null,
      // サーバにリクエストするフォーム情報
      form: new Form({
        token: ''
      })
    }),

    computed: mapGetters({
      cards: 'auth/cards'
    }),

    created() {
      this.payments = this.cards
    },

    mounted() {
      this.include('js.stripe.com/v3/', function() {
        this.initialize();
      }.bind(this) );
    },

    methods: {
      include(url, callback) {
        let
          object = window.document.createElement('script'),
          scriptTag = window.document.getElementsByTagName('script')[0]
        object.src = '//' + url;
        if (callback) {
          object.addEventListener('load', function (e) { callback(null, e) }, false);
        }
        scriptTag.parentNode.insertBefore(object, scriptTag);
      },

      initialize() {
        let styles = {
          base: {
            color: '#32325D',
            '::placeholder': {color: '#CFD7DF'},
            ':-webkit-autofill': {color: '#e39f48'},
          },
          invalid: {
            color: '#E25950',
            '::placeholder': {color: '#FFCCA5'},
          },
        };
        let classes = {
          base: 'form-control',
          focus: 'focused',
          empty: 'empty',
          invalid: 'invalid',
        };
        // Stripeインスタンス
        this.stripe = Stripe(this.api_token, {
          fonts: [{ cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro' }],
          locale: 'ja'
        });
        this.elements = this.stripe.elements();
        // カード番号
        this.card_number = this.elements.create('cardNumber', { classes: classes, style: styles, showIcon: true, iconStyle: 'solid' });
        this.card_number.mount('#card-number');
        // カード有効期限
        this.card_expiry = this.elements.create('cardExpiry', { classes: classes, style: styles });
        this.card_expiry.mount('#card-expiry');
        // セキュリティコード
        this.card_cvc = this.elements.create('cardCvc', { classes: classes, style: styles });
        this.card_cvc.mount('#card-cvc');
      },

      async update() {
        let options = {
          name: this.card_name,
          address_country: 'JP'
        };
        console.log("options: " + JSON.stringify(options));
        await this.stripe.createToken(this.card_number, options).then((result) => {
          console.log("result: " + JSON.stringify(result));
          if (result.error) {
            alert("カード登録処理時にエラーが発生しました。" +
              "カード番号が正しいものかどうかをご確認いただくか、別のクレジットカードで登録してみてください。");
          } else {
            this.form.token = result.token.id
            this.form.patch('/api/settings/payment')
            this.clear()
            // this.$store.dispatch('auth/fetchCards')
          }
        });
      },

      async deleteCard(card_id) {
        this.btnLoading = true
        await this.$store.dispatch('auth/deleteCard', { card_id: card_id })
        this.btnLoading = false
        // await this.$store.dispatch('auth/fetchCards')
      },

      clear() {
        this.form.reset()
        this.card_number.clear()
        this.card_expiry.clear()
        this.card_cvc.clear()
        this.card_name = ''
      }
    }
  }
</script>
