<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <card :title="$t('title_login')">
        <form @submit.prevent="login" @keydown="form.onKeydown($event)">
          <!-- Email -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('form_user_email') }}</label>
            <div class="col-md-7">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('form_user_password') }}</label>
            <div class="col-md-7">
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
            </div>
          </div>

          <!-- Remember Me -->
          <div class="form-group row">
            <div class="col-md-3" />
            <div class="col-md-7 d-flex">
              <checkbox v-model="remember" name="remember">{{ $t('chk_remember_me') }}</checkbox>
              <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">{{ $t('link_forgot_password') }}</router-link>
            </div>
          </div>

          <div class="form-group row">
            <!-- Submit Button -->
            <div class="col-md-7 offset-md-3 text-md-center">
              <v-button :loading="form.busy" :block="true" >{{ $t('btn_login') }}</v-button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7 offset-md-3 text-md-center">{{ $t('text_or') }}</div>
          </div>

          <div class="form-group row">
            <!-- GitHub Login Button -->
            <div class="col-md-7 offset-md-3 text-md-center"><login-with-github /></div>
          </div>

          <div class="form-group row">
            <!-- Bitbucket Login Button -->
            <div class="col-md-7 offset-md-3 text-md-center"><login-with-bitbucket /></div>
          </div>
        </form>
      </card>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import LoginWithBitbucket from '~/components/LoginWithBitbucket';
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithBitbucket,
    LoginWithGithub
  },

  metaInfo () {
    return { title: this.$t('title_login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')
      await this.$store.dispatch('auth/fetchCards')

      // Redirect home.
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
